<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dan_art.sknowcoin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher_round"
    android:supportsRtl="true"
    android:theme="@style/AppTheme.NoActionBar">
        <activity
        android:name=".layout_handlers.MainActivity"
        android:label="@string/app_name"
        android:theme="@style/BlackTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".layout_handlers.HomeActivity"
            android:theme="@style/dark_bg_theme"></activity>
        <activity
            android:name=".layout_handlers.LoginActivity"
            android:theme="@style/dark_bg_theme">
            android:theme="@style/dark_bg_theme">android:theme="@style/dark_bg_theme">
        </activity>
        <activity
            android:name=".layout_handlers.SingUpActivity_uno"
            android:theme="@style/dark_bg_theme"></activity>
        <activity
            android:name=".layout_handlers.SingUpActivity_dos"
            android:theme="@style/dark_bg_theme"></activity>
        <activity
            android:name=".layout_handlers.SingUpActivity_tres"
            android:theme="@style/dark_bg_theme"></activity>
        <activity
            android:name=".layout_handlers.BuscarMateriaActivity"
            android:theme="@style/dark_bg_theme"></activity>
        <activity
            android:name=".layout_handlers.AreasConocimientoActivity"
            android:theme="@style/dark_bg_theme"></activity>
        <activity
            android:name=".layout_handlers.HomeTutorActivity"
            android:theme="@style/dark_bg_theme"></activity>
        <activity
            android:name=".layout_handlers.CrearTutoriaActivity"
            android:theme="@style/dark_bg_theme"></activity>
        <activity
            android:name=".layout_handlers.PerfilUsuarioActivity"
            android:theme="@style/dark_bg_theme"></activity>
        <activity
            android:name=".layout_handlers.TutoriasSolicitadasActivity"
            android:theme="@style/dark_bg_theme"></activity>
        <activity
            android:name=".layout_handlers.DetalleTutoriaActivity"
            android:theme="@style/dark_bg_theme"></activity>
        <activity
            android:name=".layout_handlers.BuscarTutorActivity"
            android:theme="@style/dark_bg_theme"></activity>

    </application>
</manifest>